---
---

@import "{{ site.theme }}";

body {
  background-color: hsl(220, 13%, 18%) !important;
  color: hsl(220, 14%, 71%) !important;
  border-color: hsl(220, 10%, 40%) !important;
}

a {
  color: rgb(209, 154, 102) !important;
}