---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color: hsl(220, 13%, 18%) !important;
  color: hsl(220, 14%, 71%) !important;
  border-color: hsl(220, 10%, 40%) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

a {
  color: rgb(209, 154, 102) !important;
}

h1 > a {
  color: rgb(209, 154, 102) !important;
}

p {
  margin-left: 2rem;
}

.markdown-body h1 {
  border-bottom: none !important;
  color: rgb(209, 154, 102) !important;
}

.markdown-body h2 {
  border-bottom: none !important;
  color: rgb(209, 154, 102) !important;
}

.markdown-body h3 {
  border-bottom: none !important;
  color: rgb(209, 154, 102) !important;
}