---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color: hsl(220, 13%, 18%) !important;
  color: hsl(220, 14%, 71%) !important;
  border-color: hsl(220, 10%, 40%) !important;

}

a {
  color: hsl(207, 82%, 66%) !important;

}

h1 > a {
  color: hsl(207, 82%, 66%) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

p {
  margin-left: 2rem;

}

.markdown-body h1 {
  border-bottom: none !important;
  color: hsl(207, 82%, 66%) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.markdown-body h2 {
  border-bottom: none !important;
  color: hsl(207, 82%, 66%) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.markdown-body h3 {
  border-bottom: none !important;
  color: hsl(207, 82%, 66%) !important;
  font-family: 'JetBrains Mono', monospace !important;
}